<div class="hana-date-picker-year-month">
  <i
    class="hana-date-picker-year-month-pre"
    [ngClass]="preDisabled ? 'hana-date-picker-year-month-disabled' : ''"
  (click)="handleChangeToPre(year, month)"
  />
  <div class="hana-date-picker-year-month-select">
      <div
        class="hana-date-picker-year-month-select-container"
        [ngClass]="'hana-date-picker-year-month-select-' + toPre ? 'pre' : 'next'"
      >
      <div>
        <div class="hana-date-picker-year-month-year">
          <hana-select
            [values]="years"
            [labels]="years"
            [current]="year"
            [handleChange]="handleChangeYear(year)"
          ></hana-select>
        </div>
        <span class="hana-date-picker-year-month-v-line" />
        <div class="hana-date-picker-year-month-month">
          <hana-select
            [values]="months"
            [labels]="monthsLabels"
            [current]="month"
            [handleChange]="handleChangeMonth"
          ></hana-select>
        </div>
      </div>
      </div>
  </div>
  <i
    class="hana-date-picker-year-month-next"
    [ngClass]="nextDisabled ? 'hana-date-picker-year-month-disabled' : ''"
    (click)="handleChangeToNext(year, month)"
  />
</div>
