<div class="hana-date-picker-container">
  <div *ngIf="show" class="hana-date-picker-container hana-date-picker-container-container">
    <div>
      <ng-content></ng-content>
      <div class="hana-date-picker-action-buttons">
        <Button class="hana-date-picker-clear-button" (click)="handleClear.emit()">
          {{clearName}}
        </Button>
        <Button class="hana-date-picker-confirm-button" (click)="handleConfirm.emit()">
          {{confirmName}}
        </Button>
        <Button class="hana-date-picker-confirm-button" (click)="handleCancel.emit()">
          {{cancelName}}
        </Button>
      </div>
    </div>
  </div>
</div>
